* {
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
.wrap {
    width: 200px;
    height: 200px;
    margin: 150px auto;
    position: relative;
    transform-style: preserve-3d;
    perspective-origin: 100px 100px;
    transform: rotateX(348deg) rotateY(471deg);
    animation: auto 2s linear infinite;
}

@keyframes auto {
    0% {
        transform: translateY(-100px) rotatey(91deg);
    }

    50% {
        transform: rotateZ(90deg);
    }

    100% {
        transform: rotateY(-91deg) translateX(100px);
    }
}

.box  {
    width: 200px;
    height: 200px;
    position: absolute;
    box-shadow: 0 0 3vh currentColor;
    transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.box:hover  {
    background: currentColor;
    box-shadow: 0 0 20vh currentColor;
}

.box .wrap-top {
    color: rgba(255, 0, 0);
    background: rgba(255, 0, 0);
    transform: translateY(-100px) rotateX(91deg);
    transition: all 1s linear;
}


.box .wrap-bottom {
    background: rgba(255, 165, 0);
    color: rgba(255, 165, 0);
    transform: translateY(100px) rotateX(-91deg);


}

.box .wrap-left {
    background: rgba(0, 35, 100);
    color: rgba(0, 35, 100);
    transform: translateX(-100px) rotateY(-91deg);
}

.box .wrap-right {
    background: rgba(255, 255, 0);
    color: rgba(255, 255, 0);
    transform: translateX(100px) rotateY(91deg);


}

.box .wrap-after {
    background: rgba(0, 255, 0);
    transform: translateZ(100px) rotateX(0deg);


}


.box .wrap-Front {
    background: rgba(139, 0, 255);
    transform: translateZ(-100px) rotateX(0deg);

}